@model UserManagerModule.AspNetUsersData
@{
    string title =  "UserManagerModule.AspNetUsers List".SplitCamelCaseToString();
    string headerKey = "Header";
    TempData["Title"] = title;
    int startIndex = ((Model.CurrentPage - 1) * Model.PageSize) + 1;
    int endIndex = ((Model.CurrentPage ) * Model.PageSize);
    if (endIndex > Model.NumberOfRecord) {
        endIndex = Model.NumberOfRecord;
    }

    var pagerData = new PagerData() { CurrentPage = Model.CurrentPage, NumberOfRecord = Model.NumberOfRecord, PageSize = Model.PageSize, TotalPage = Model.TotalPage, StartIndex = startIndex, EndIndex = endIndex } ;
}
<div class="container-fluid" IsPageAvailable="true">
    <form method="post" id="formList">
        <div class="card text shadow mb-4">
            
            <div class="card-body">
                <h1 class="card-title">@title</h1>
                <p class="card-text">You can manage your UserManagerModule.AspNetUsers table.</p>
                <vc:insert-button controller-name="" action-name=""></vc:insert-button>
                <hr class="col-xs-12">
                 @if (Model.List.Count == 0)
                {
                    <div class="alert alert-danger" role="alert">
                        No Data available in UserManagerModule.AspNetUsers table.
                    </div>
                }
                else
                {
                    <vc:pager pager-data=pagerData></vc:pager>
                    <table bc-border="Bordered" bc-striped="true" bc-hover="true" class="table-responsive" bc-theme="Light">
                        <thead bc-theme="Dark">
                            <tr>
                               <vc:operation-buttons item-id=@headerKey controller-name="" action-name=""></vc:operation-buttons>
                               <th>Id</th>
<th>First Name</th>
<th>Last Name</th>
<th>Permission Group Id</th>
<th>User Name</th>
<th>Normalized User Name</th>
<th>Email</th>
<th>Normalized Email</th>
<th>Email Confirmed</th>
<th>Password Hash</th>
<th>Security Stamp</th>
<th>Concurrency Stamp</th>
<th>Phone Number</th>
<th>Phone Number Confirmed</th>
<th>Two Factor Enabled</th>
<th>Lockout End</th>
<th>Lockout Enabled</th>
<th>Access Failed Count</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.List)
                            {
                            <tr>
                                <vc:operation-buttons item-id=@item._Key controller-name="" action-name=""></vc:operation-buttons>
                                <td>@item.Id</td>
<td>@item.FirstName</td>
<td>@item.LastName</td>
<td>			@string.Format("{0}", Model.ComboList["PermissionGroups"].GetListItemByItemId(item.PermissionGroupId))</td>
<td>@item.UserName</td>
<td>@item.NormalizedUserName</td>
<td>@item.Email</td>
<td>@item.NormalizedEmail</td>
<td>@item.EmailConfirmed</td>
<td>@item.PasswordHash</td>
<td>@item.SecurityStamp</td>
<td>@item.ConcurrencyStamp</td>
<td>@item.PhoneNumber</td>
<td>@item.PhoneNumberConfirmed</td>
<td>@item.TwoFactorEnabled</td>
<td>@item.LockoutEnd</td>
<td>@item.LockoutEnabled</td>
<td>@item.AccessFailedCount</td>

                               </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            @if (Model.List.Count > 0)
            {
            <div class="card-footer text-muted">
                 <vc:pager pager-data=pagerData></vc:pager>
            </div>
            }
        </div>
        <input type="hidden" asp-for="CurrentPage" />
        <input type="hidden" asp-for="SelectedKey" />
    </form>

    <div class="modal fade bd-example-modal-lg" id="itemDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" id="itemDetailsContainer">
        </div>
    </div>
    
</div>
<div class="container-fluid" IsPageAvailable="false">
 @await Html.PartialAsync("_NotAuthorized")
</div>

<script type="text/javascript">
    window.addEventListener('load', (event) => {
     $("img.lazyload").lazyload();
    });
</script>

